body{
    background-color: white;
}
h1 {
    color:blue;
    align-items: center;
}
p {
    color: black;
    align-items: left;
    margin-left: auto;
    margin-top: auto;
}
.container {
    text-align: center;
    left: 0;
    right:0;
}
.myheader{
    text-align:center;


}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font:bold;
    color:black;
    text-align: center;
    margin-top: 200px;
}
#introduction{
    font-family: Arial, Helvetica, sans-serif;
    font: light;
    font-size: 24px;
    text-align: center;
    margin-top: 16px;
    margin:auto;
    max-width: 500px;

    
}
.navbar{
    background-color: black;
    height: 50px;
    margin:auto;
    text-align: center;
}

.navbar #link {
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar button:hover {
    background-color: #ddd;
    color: black;
  }

#link{
    display: inline-block;
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;

    margin:auto

}

.button-container{
    /* display: inline-block; */
    margin-top: 100px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;

}
.button-container #button1{
    height:48px;
    width: 128px;
    text-align: center;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
    color:white;

}

#button2{
    height:48px;
    width: 128px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    background-color: black;
    color:white;
}

.bg-image {
    /* Full height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
.introduction{
    background-color: white;
}
  .img1 { 
    background-image: url("Actuator on Cloth Picture.jpg"); 
}
  .img2 { background-image: url("RSX Arm Render.png"); }
