body {
    background-color: white;
}

h1 {
    color: blue;
    align-items: center;
}

p {
    color: black;
    align-items: left;
    margin-left: auto;
    margin-top: auto;
}

.intro-section {
    background-color: white;
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-section .myheader {
    text-align: center;
}

.intro-section #title {
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    color: black;
    text-align: center;
    padding-top: 150px;
}

.intro-section #introduction {
    font-family: Arial, Helvetica, sans-serif;
    font: light;
    font-size: 24px;
    text-align: center;
    margin-top: 16px;
    margin: auto;
    max-width: 500px;
}

.intro-section .button-container {
    /* display: inline-block; */
    margin-top: 100px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
    padding-bottom: 150px;
}

.navbar {
    background-color: black;
    height: 50px;
    margin: auto;
    text-align: center;
}

.navbar #link {
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 48px;
    width: 128px;
    transition: all 0.5s;
    cursor: pointer;
}

#link {
    display: inline-block;
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    margin: auto
}

.button2 {
    height: 48px;
    width: 128px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.projects {
    background-image: url("RSX.jpg");
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 500px;
    padding-bottom: 500px;
}

.projects .myheader2 {
    text-align: center;
    align-items: center;
}

.projects .container2 .title {
    font-size: 48px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 10px;
}

.research {
    background-image: url("Actuator on Cloth Picture.jpg");
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 500px;
    padding-bottom: 500px;
}

.research .myheader2 {
    text-align: center;
    align-items: center;
}

.container2 {
    /* top: 250px; */
    height: 150px;
    width: 300px;
    margin: auto;
    background-color: darkgrey;
    text-align: center;
    z-index: 2;
    border-radius: 16px;
}

.research .container2 .title {
    font-size: 48px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 10px;
}

.project {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    display: block;
}

.project #project-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.description-img {
    text-align: center;
}

.image {
    max-height: 100px;
    max-width: 100px;
}

.text {
    font-size: 20px;
    min-width: 500px;
}

.spacer {
    height: 20px;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}


/* #img {
    max-width: 100%;
    max-height: 50%;
} */

.button2:hover {
    background-color: white;
    color: black;
}
.portrait {
    max-width: 400px;
    max-height: 400px;
}
.bio{
    display:grid;
    grid-template-columns: 1fr 1fr;
}