body {
    background-color: white;
}

h1 {
    color:blue;
    align-items: center;
}
p {
    color: black;
    align-items: left;
    margin-left: auto;
    margin-top: auto;
}
#title{
    font-family: Arial, Helvetica, sans-serif;
    font:bold;
    color:black;
    text-align: center;
    margin-top: 200px;
}
#introduction{
    font-family: Arial, Helvetica, sans-serif;
    font: light;
    font-size: 24px;
    align-self: center;
    text-align: center;
    margin-top: 16px;
    max-width: 500px;

    
}
.navbar{
    background-color: black;
    height: 50px;
    margin:auto;
    align-items: center;
    align-content: center;
}
.navbar #link{
    display: inline-block;
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;

    margin:auto

}

.button-container{
    display: inline-block;
    margin-top: 100px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
}
.button-container #button1{
    height:48px;
    width: 128px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    background-color: black;
    color:white;
    padding-left:48px;
    padding-right:48px;
}

.bg-image {
    /* Full height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url("Actuator\ on\ Cloth\ Picture.png"); }
  .img2 { background-image: url("RSX\ Arm\ Render.png"); }
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }